In [ ]:
from util.load_dataframes import load_dataframe_vacas, load_dataframe_patadas, load_dataframe_inventario, load_dataframe_reporte, load_dataframe_ranking


df = load_dataframe_vacas('datos/registros_sesiones_merged.csv')
# df = df.sample(frac=1)
df.head()

       ID Fecha y hora de inicio              Main                   \
  ID Vaca                  fecha      hora  Accion Duracion (mm:ss)
0    1204             2025-03-02  02:24:00  Ordeño  0 days 00:07:23
1    1204             2025-03-02  19:51:00  Ordeño  0 days 00:08:29
2    1204             2025-03-03  06:00:00  Ordeño  0 days 00:05:05
3    1204             2025-03-04  00:16:00  Ordeño  0 days 00:09:07
4    1204             2025-03-04  18:27:00  Ordeño  0 days 00:12:09

                            Estado                                           \
  Produccion (kg) Numero de ordeño Patada Incompleto Pezones no encontrados
0           11.13              1.0      0          0                      0
1           20.64              2.0      0          0                      0
2            9.59              1.0      0          0                      0
3           22.58              1.0      0          0                      0
4           22.71              2.0      0          0                      0

   ... Flujos maximos (kg/min)       Producciones (kg)                    \
   ...                      TD Total                DI    DD    TI    TD
0  ...                    1.92  7.92              4.40  2.43  1.15  3.15
1  ...                    2.40  9.24              5.72  4.88  3.10  6.94
2  ...                    1.98  8.16              2.69  2.41  1.44  3.05
3  ...                    1.98  8.64              6.05  5.05  3.58  7.90
4  ...                    2.28  8.76              6.26  5.31  3.47  7.67

                      Misc
   Total  Suavizado  EO/PO Destino Leche
0  11.13  15.385671  VMS 3        Tanque
1  20.64  15.385671  VMS 3        Tanque
2   9.59  15.385671  VMS 3        Tanque
3  22.58  15.385671  VMS 3        Tanque
4  22.71  15.385671  VMS 3        Tanque

[5 rows x 40 columns]

In [ ]:
import pandas as pd

df_ranking = load_dataframe_ranking('datos/ranking_vacas_df_final.csv')[['ID Vaca', 'Puntaje_final']]

df_ranking.columns = pd.MultiIndex.from_tuples([
    ('Ranking', 'ID Vaca'),
    ('Ranking', 'PuntajeFinal')
])

df_ranking.head()

  Ranking
  ID Vaca PuntajeFinal
0    1554     0.706908
1    6238     0.674661
2    6003     0.666182
3    8758     0.634178
4    1204     0.622022

In [ ]:
from util.generate_data import fill_missing_data

df_filled = fill_missing_data(df)

df_filled.head()

Total de filas: 7237
Filas con 'Ordeño' (se rellenarán): 7004
Filas con 'Rechazada' (se mantendrán sin cambios): 233

Total de filas en el dataset final: 7237

       ID Fecha y hora de inicio              Main                   \
  ID Vaca                  fecha      hora  Accion Duracion (mm:ss)
0    1204             2025-03-02  02:24:00  Ordeño  0 days 00:07:23
1    1204             2025-03-02  19:51:00  Ordeño  0 days 00:08:29
2    1204             2025-03-03  06:00:00  Ordeño  0 days 00:05:05
3    1204             2025-03-04  00:16:00  Ordeño  0 days 00:09:07
4    1204             2025-03-04  18:27:00  Ordeño  0 days 00:12:09

                            Estado                                           \
  Produccion (kg) Numero de ordeño Patada Incompleto Pezones no encontrados
0           11.13              1.0      0          0                      0
1           20.64              2.0      0          0                      0
2            9.59              1.0      0          0                      0
3           22.58              1.0      0          0                      0
4           22.71              2.0      0          0                      0

   ... Flujos maximos (kg/min)       Producciones (kg)                    \
   ...                      TD Total                DI    DD    TI    TD
0  ...                    1.92  7.92              4.40  2.43  1.15  3.15
1  ...                    2.40  9.24              5.72  4.88  3.10  6.94
2  ...                    1.98  8.16              2.69  2.41  1.44  3.05
3  ...                    1.98  8.64              6.05  5.05  3.58  7.90
4  ...                    2.28  8.76              6.26  5.31  3.47  7.67

                      Misc
   Total  Suavizado  EO/PO Destino Leche
0  11.13  15.385671  VMS 3        Tanque
1  20.64  15.385671  VMS 3        Tanque
2   9.59  15.385671  VMS 3        Tanque
3  22.58  15.385671  VMS 3        Tanque
4  22.71  15.385671  VMS 3        Tanque

[5 rows x 40 columns]

In [ ]:
from util.generate_summary import generate_summary, save_dataframe 

df_summary = generate_summary(df_filled)
df_summary.head()

c:\Users\diego\Documents\Uni\SeptimoSem\Proyecto\Reto-ConcentracionIA-Vacas\util\generate_summary.py:117: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.13408263199786422' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  datosPorVaca.loc[datosPorVaca['ID'] == vaca, 'TasaDecaemientoProduccion'] = slope
c:\Users\diego\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\nonparametric\smoothers_lowess.py:226: RuntimeWarning: invalid value encountered in divide
  res, _ = _lowess(y, x, x, np.ones_like(x),

       ID            Main           Estado            \
  ID Vaca Produccion (kg) Numero de ordeño      Ubre
0    1204       14.152335         1.443580  0.214008
1    1221       14.217778         1.858025  0.024691
2    1233        9.786182         1.537162  0.097973
3    1497        2.600000         0.500000  0.000000
4    1554       18.642554         1.758993  0.201439

  Media de los flujos (kg/min)                                          \
                            DI        DD        TI        TD     Total
0                     1.312693  1.615121  1.572471  1.630806  6.016576
1                     1.301852  0.849259  1.107205  1.140368  4.364074
2                     1.235294  1.101050  0.955044  1.321617  4.185000
3                     0.390000  0.300000  0.330000  0.300000  1.320000
4                     1.683858  1.450072  1.566024  1.592744  6.105324

  Sangre (ppm)  ... Datos Generados                                           \
            DI  ... NoEncontradosTI NoEncontradosTotal patadas_TI patadas_TD
0     4.754864  ...            16.0               21.0          0          0
1   107.012346  ...             2.0                6.0          1          3
2     0.000000  ...           111.0              127.0         13         29
3  3998.500000  ...             0.0                0.0          0          0
4     2.769784  ...            25.0               36.0          3         24

                                                                      \
  patadas_DI patadas_DD patadas_total PatadasPorDia PatadasPorOrdeño
0         16          0            16      0.115108         0.062257
1         17          0            21      0.150000         0.129630
2         14          3            59      0.421429         0.199324
3          0          0             0      0.000000         0.000000
4          2          0            29      0.207143         0.104317


  PatadasPorHora
0       0.503668
1       1.070230
2       1.465282
3       0.000000
4       0.785069

[5 rows x 60 columns]

In [ ]:
save_dataframe(df_summary, 'datos/resumen_vacas.csv')

Archivo guardado exitosamente

In [ ]:
df_ranking_indexed = df_ranking.set_index(('Ranking', 'ID Vaca'))

df_final = df_summary.set_index(('ID', 'ID Vaca')).join(
    df_ranking_indexed,
    how='left'
).reset_index()

df_final.head()

       ID            Main           Estado            \
  ID Vaca Produccion (kg) Numero de ordeño      Ubre
0    1204       14.152335         1.443580  0.214008
1    1221       14.217778         1.858025  0.024691
2    1233        9.786182         1.537162  0.097973
3    1497        2.600000         0.500000  0.000000
4    1554       18.642554         1.758993  0.201439

  Media de los flujos (kg/min)                                          \
                            DI        DD        TI        TD     Total
0                     1.312693  1.615121  1.572471  1.630806  6.016576
1                     1.301852  0.849259  1.107205  1.140368  4.364074
2                     1.235294  1.101050  0.955044  1.321617  4.185000
3                     0.390000  0.300000  0.330000  0.300000  1.320000
4                     1.683858  1.450072  1.566024  1.592744  6.105324

  Sangre (ppm)  ...    Datos Generados                                   \
            DI  ... NoEncontradosTotal patadas_TI patadas_TD patadas_DI
0     4.754864  ...               21.0          0          0         16
1   107.012346  ...                6.0          1          3         17
2     0.000000  ...              127.0         13         29         14
3  3998.500000  ...                0.0          0          0          0
4     2.769784  ...               36.0          3         24          2

                                                                          \
  patadas_DD patadas_total PatadasPorDia PatadasPorOrdeño PatadasPorHora
0          0            16      0.115108         0.062257       0.503668
1          0            21      0.150000         0.129630       1.070230
2          3            59      0.421429         0.199324       1.465282
3          0             0      0.000000         0.000000       0.000000
4          0            29      0.207143         0.104317       0.785069

       Ranking
  PuntajeFinal
0     0.622022
1     0.581024
2     0.487947
3     0.133646
4     0.706908

[5 rows x 61 columns]

In [ ]:
df_final.columns

MultiIndex([(                          'ID',                   'ID Vaca'),
            (                        'Main',           'Produccion (kg)'),
            (                      'Estado',          'Numero de ordeño'),
            (                      'Estado',                      'Ubre'),
            ('Media de los flujos (kg/min)',                        'DI'),
            ('Media de los flujos (kg/min)',                        'DD'),
            ('Media de los flujos (kg/min)',                        'TI'),
            ('Media de los flujos (kg/min)',                        'TD'),
            ('Media de los flujos (kg/min)',                     'Total'),
            (                'Sangre (ppm)',                        'DI'),
            (                'Sangre (ppm)',                        'DD'),
            (                'Sangre (ppm)',                        'TI'),
            (                'Sangre (ppm)',                        'TD'),
            (                'Sangre (ppm)',                     'Total'),
            (     'Conductividad (mS / cm)',                        'DI'),
            (     'Conductividad (mS / cm)',                        'DD'),
            (     'Conductividad (mS / cm)',                        'TI'),
            (     'Conductividad (mS / cm)',                        'TD'),
            (     'Conductividad (mS / cm)',                     'Total'),
            (     'Flujos maximos (kg/min)',                        'DI'),
            (     'Flujos maximos (kg/min)',                        'DD'),
            (     'Flujos maximos (kg/min)',                        'TI'),
            (     'Flujos maximos (kg/min)',                        'TD'),
            (     'Flujos maximos (kg/min)',                     'Total'),
            (           'Producciones (kg)',                        'DI'),
            (           'Producciones (kg)',                        'DD'),
            (           'Producciones (kg)',                        'TI'),
            (           'Producciones (kg)',                        'TD'),
            (           'Producciones (kg)',                     'Total'),
            (           'Producciones (kg)',                 'Suavizado'),
            (             'Datos Generados',              'PrimeraFecha'),
            (             'Datos Generados',               'UltimaFecha'),
            (             'Datos Generados',               'DiasTotales'),
            (             'Datos Generados',            'OrdeñosTotales'),
            (             'Datos Generados',          'DuracionPromedio'),
            (             'Datos Generados',             'MastitisTotal'),
            (             'Datos Generados',          'MastitisPromedio'),
            (             'Datos Generados', 'TasaDecaemientoProduccion'),
            (             'Datos Generados',  'tasa_cambio_media_kg_dia'),
            (             'Datos Generados',            'tasa_cambio_r2'),
            (             'Datos Generados',        'tasa_cambio_pvalor'),
            (             'Datos Generados',                 'prod_mean'),
            (             'Datos Generados',                  'prod_std'),
            (             'Datos Generados',                  'prod_min'),
            (             'Datos Generados',                  'prod_max'),
            (             'Datos Generados',                   'prod_cv'),
            (             'Datos Generados',                 'n_ordeños'),
            (             'Datos Generados',           'NoEncontradosDD'),
            (             'Datos Generados',           'NoEncontradosDI'),
            (             'Datos Generados',           'NoEncontradosTD'),
            (             'Datos Generados',           'NoEncontradosTI'),
            (             'Datos Generados',        'NoEncontradosTotal'),
            (             'Datos Generados',                'patadas_TI'),
            (             'Datos Generados',                'patadas_TD'),
            (             'Datos Generados',                'patadas_DI'),
            (             'Datos Generados',                'patadas_DD'),
            (             'Datos Generados',             'patadas_total'),
            (             'Datos Generados',             'PatadasPorDia'),
            (             'Datos Generados',          'PatadasPorOrdeño'),
            (             'Datos Generados',            'PatadasPorHora'),
            (                     'Ranking',              'PuntajeFinal')],
           )