In [1]:
from util.load_dataframes import load_dataframe_vacas, load_dataframe_patadas, load_dataframe_inventario, load_dataframe_reporte


df = load_dataframe_vacas('datos/registros_sesiones_merged.csv')
# df = df.sample(frac=1)
df.head()

       ID Fecha y hora de inicio              Main                   \
  ID Vaca                  fecha      hora  Accion Duracion (mm:ss)
0    1204             2025-03-02  02:24:00  Ordeño  0 days 00:07:23
1    1204             2025-03-02  19:51:00  Ordeño  0 days 00:08:29
2    1204             2025-03-03  06:00:00  Ordeño  0 days 00:05:05
3    1204             2025-03-04  00:16:00  Ordeño  0 days 00:09:07
4    1204             2025-03-04  18:27:00  Ordeño  0 days 00:12:09

                            Estado                                           \
  Produccion (kg) Numero de ordeño Patada Incompleto Pezones no encontrados
0           11.13              1.0      0          0                      0
1           20.64              2.0      0          0                      0
2            9.59              1.0      0          0                      0
3           22.58              1.0      0          0                      0
4           22.71              2.0      0          0                      0

   ... Flujos maximos (kg/min)             Producciones (kg)              \
   ...                      TI    TD Total                DI    DD    TI
0  ...                    2.34  1.92  7.92              4.40  2.43  1.15
1  ...                    2.52  2.40  9.24              5.72  4.88  3.10
2  ...                    2.28  1.98  8.16              2.69  2.41  1.44
3  ...                    2.28  1.98  8.64              6.05  5.05  3.58
4  ...                    2.34  2.28  8.76              6.26  5.31  3.47

                 Misc
     TD  Total  EO/PO Destino Leche
0  3.15  11.13  VMS 3        Tanque
1  6.94  20.64  VMS 3        Tanque
2  3.05   9.59  VMS 3        Tanque
3  7.90  22.58  VMS 3        Tanque
4  7.67  22.71  VMS 3        Tanque

[5 rows x 39 columns]

In [19]:
from util.split_dataframes import split_dataframe

train, test, val = split_dataframe(df, 70, 15, 15)

In [20]:
train.head()

       ID Fecha y hora de inicio              Main                   \
  ID Vaca                  fecha      hora  Acción Duración (mm:ss)
0    1204             2025-03-02  02:24:00  Ordeño            07:23
1    1204             2025-03-02  19:51:00  Ordeño            08:29
2    1204             2025-03-03  06:00:00  Ordeño            05:05
3    1204             2025-03-04  00:16:00  Ordeño            09:07
4    1204             2025-03-04  18:27:00  Ordeño            12:09

                            Estado                                           \
  Producción (kg) Número de ordeño Patada Incompleto Pezones no encontrados
0           11.13              1.0      0          0                      0
1           20.64              2.0      0          0                      0
2            9.59              1.0      0          0                      0
3           22.58              1.0      0          0                      0
4           22.71              2.0      0          0                      0

   ... Flujos máximos (kg/min)             Producciones (kg)              \
   ...                      TI    TD Total                DI    DD    TI
0  ...                    2.34  1.92  7.92              4.40  2.43  1.15
1  ...                    2.52  2.40  9.24              5.72  4.88  3.10
2  ...                    2.28  1.98  8.16              2.69  2.41  1.44
3  ...                    2.28  1.98  8.64              6.05  5.05  3.58
4  ...                    2.34  2.28  8.76              6.26  5.31  3.47

                 Misc
     TD  Total  EO/PO Destino Leche
0  3.15  11.13  VMS 3        Tanque
1  6.94  20.64  VMS 3        Tanque
2  3.05   9.59  VMS 3        Tanque
3  7.90  22.58  VMS 3        Tanque
4  7.67  22.71  VMS 3        Tanque

[5 rows x 39 columns]

In [21]:
test.head()

          ID Fecha y hora de inicio              Main                   \
     ID Vaca                  fecha      hora  Acción Duración (mm:ss)
5065    6238             2025-07-11  12:43:00  Ordeño            07:31
5066    6238             2025-07-11  22:50:00  Ordeño            07:47
5067    6238             2025-07-12  09:16:00  Ordeño            09:18
5068    6238             2025-07-12  18:15:00  Ordeño            07:50
5069    6238             2025-07-13  03:03:00  Ordeño            10:17

                               Estado                    \
     Producción (kg) Número de ordeño Patada Incompleto
5065           27.78              2.0      0          0
5066           22.31              3.0     DI          0
5067           17.87              1.0      0         TI
5068           24.03              2.0      0          0
5069           23.47              1.0      0          0

                             ... Flujos máximos (kg/min)               \
     Pezones no encontrados  ...                      TI    TD  Total
5065                      0  ...                    3.96  2.04  10.86
5066                      0  ...                    4.32  2.16  11.22
5067                     TI  ...                    0.00  2.22   6.90
5068                      0  ...                    4.98  2.04  11.34
5069                      0  ...                    2.16  2.16   9.06

     Producciones (kg)                            Misc
                    DI    DD    TI    TD  Total  EO/PO Destino Leche
5065              7.08  4.24  8.42  8.04  27.78  VMS 3        Tanque
5066              5.15  3.66  6.73  6.77  22.31  VMS 3        Tanque
5067              5.72  4.24  0.00  7.91  17.87  VMS 3        Tanque
5068              5.54  3.58  7.80  7.11  24.03  VMS 3        Tanque
5069              6.56  3.38  6.27  7.26  23.47  VMS 3        Tanque

[5 rows x 39 columns]

In [22]:
val.head()

          ID Fecha y hora de inicio              Main                   \
     ID Vaca                  fecha      hora  Acción Duración (mm:ss)
6150    8732             2025-05-25  03:26:00  Ordeño            10:13
6151    8732             2025-05-25  10:23:00  Ordeño            12:13
6152    8732             2025-05-25  14:56:00  Ordeño            10:29
6153    8732             2025-05-25  19:17:00  Ordeño            11:43
6154    8732             2025-05-26  01:41:00  Ordeño            12:18

                               Estado                    \
     Producción (kg) Número de ordeño Patada Incompleto
6150            9.21              1.0      0          0
6151            6.75              2.0      0         DI
6152            4.58              3.0      0         DI
6153            8.98              4.0      0          0
6154            8.34              1.0      0          0

                             ... Flujos máximos (kg/min)              \
     Pezones no encontrados  ...                      TI    TD Total
6150                     DI  ...                    1.26  1.50  4.08
6151                     DI  ...                    1.32  1.20  3.60
6152                     DI  ...                    1.20  1.08  3.36
6153                     DD  ...                    1.02  1.08  2.56
6154                     DI  ...                    1.56  1.26  4.92

     Producciones (kg)                           Misc
                    DI    DD    TI    TD Total  EO/PO Destino Leche
6150              0.06  1.74  1.78  5.63  9.21  VMS 3        Tanque
6151              0.00  2.50  2.18  2.07  6.75  VMS 3        Tanque
6152              0.00  1.60  1.56  1.42  4.58  VMS 3        Tanque
6153              6.47  0.00  1.15  1.36  8.98  VMS 3        Tanque
6154              0.12  1.95  3.93  2.34  8.34  VMS 3        Tanque

[5 rows x 39 columns]

In [23]:
df.describe()

                ID         Fecha y hora de inicio            Main  \
           ID Vaca                          fecha Producción (kg)
count  7237.000000                           7237     7237.000000
mean   4923.818157  2025-05-15 07:53:10.106397696       13.283452
min    1204.000000            2025-03-01 00:00:00        0.000000
25%    1624.000000            2025-04-08 00:00:00        9.530000
50%    6036.000000            2025-05-19 00:00:00       13.040000
75%    8712.000000            2025-06-23 00:00:00       16.900000
max    8794.000000            2025-07-18 00:00:00       39.470000
std    3073.598457                            NaN        5.778454

                Estado              Media de los flujos (kg/min)               \
      Número de ordeño         Ubre                           DI           DD
count      7237.000000  7237.000000                  7237.000000  7237.000000
mean          1.717839     0.144811                     1.000044     1.069305
min           0.000000     0.000000                     0.000000     0.000000
25%           1.000000     0.000000                     0.720000     0.780000
50%           2.000000     0.000000                     1.020000     1.080000
75%           2.000000     0.000000                     1.320000     1.320000
max           5.000000     1.000000                     4.980000     2.640000
std           0.858881     0.351935                     0.463301     0.443950

                                              ... Flujos máximos (kg/min)  \
                TI           TD        Total  ...                      DI
count  7237.000000  7237.000000  7237.000000  ...             7237.000000
mean      0.975645     1.024925     4.069918  ...                1.455733
min       0.000000     0.000000     0.000000  ...                0.000000
25%       0.720000     0.780000     3.060000  ...                1.200000
50%       1.020000     1.080000     4.080000  ...                1.440000
75%       1.320000     1.320000     5.160000  ...                1.800000
max       4.080000     2.820000     9.960000  ...                4.620000
std       0.549328     0.493623     1.627252  ...                0.602697

                                                          Producciones (kg)  \
                DD           TI           TD        Total                DI
count  7237.000000  7237.000000  7237.000000  7237.000000       7237.000000
mean      1.530576     1.376885     1.480298     5.843493          3.081302
min       0.000000     0.000000     0.000000     0.000000          0.000000
25%       1.260000     1.140000     1.200000     4.800000          2.110000
50%       1.500000     1.440000     1.500000     5.820000          3.010000
75%       1.860000     1.740000     1.860000     7.200000          4.060000
max       3.420000     4.980000     4.800000    13.080000         10.420000
std       0.560020     0.737821     0.657601     2.066690          1.648646


                DD           TI           TD        Total
count  7237.000000  7237.000000  7237.000000  7237.000000
mean      3.155243     3.327445     3.719939    13.283928
min       0.000000     0.000000     0.000000     0.000000
25%       2.270000     1.930000     2.450000     9.540000
50%       3.060000     3.460000     3.710000    13.040000
75%       4.020000     4.780000     4.950000    16.900000
max       9.980000    14.310000    13.330000    39.470000
std       1.460909     2.103554     2.122039     5.778240

[8 rows x 30 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7237 entries, 0 to 7236
Data columns (total 39 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (ID, ID Vaca)                          7237 non-null   int64
 1   (Fecha y hora de inicio, fecha)        7237 non-null   datetime64[ns]
 2   (Fecha y hora de inicio, hora)         7237 non-null   object
 3   (Main, Acción)                         7237 non-null   object
 4   (Main, Duración (mm:ss))               7237 non-null   object
 5   (Main, Producción (kg))                7237 non-null   float64
 6   (Estado, Número de ordeño)             7237 non-null   float64
 7   (Estado, Patada)                       7237 non-null   object
 8   (Estado, Incompleto)                   7237 non-null   object
 9   (Estado, Pezones no encontrados)       7237 non-null   object
 10  (Estado, Ubre)                         7237 non-null   float64
 11  (Estado, Pezón)                        7237 non-null   object
 12  (Media de los flujos (kg/min), DI)     7237 non-null   float64
 13  (Media de los flujos (kg/min), DD)     7237 non-null   float64
 14  (Media de los flujos (kg/min), TI)     7237 non-null   float64
 15  (Media de los flujos (kg/min), TD)     7237 non-null   float64
 16  (Media de los flujos (kg/min), Total)  7237 non-null   float64
 17  (Sangre (ppm), DI)                     7237 non-null   float64
 18  (Sangre (ppm), DD)                     7237 non-null   float64
 19  (Sangre (ppm), TI)                     7237 non-null   float64
 20  (Sangre (ppm), TD)                     7237 non-null   float64
 21  (Sangre (ppm), Total)                  7237 non-null   float64
 22  (Conductividad (mS / cm), DI)          7237 non-null   float64
 23  (Conductividad (mS / cm), DD)          7237 non-null   float64
 24  (Conductividad (mS / cm), TI)          7237 non-null   float64
 25  (Conductividad (mS / cm), TD)          7237 non-null   float64
 26  (Conductividad (mS / cm), Total)       7237 non-null   float64
 27  (Flujos máximos (kg/min), DI)          7237 non-null   float64
 28  (Flujos máximos (kg/min), DD)          7237 non-null   float64
 29  (Flujos máximos (kg/min), TI)          7237 non-null   float64
 30  (Flujos máximos (kg/min), TD)          7237 non-null   float64
 31  (Flujos máximos (kg/min), Total)       7237 non-null   float64
 32  (Producciones (kg), DI)                7237 non-null   float64
 33  (Producciones (kg), DD)                7237 non-null   float64
 34  (Producciones (kg), TI)                7237 non-null   float64
 35  (Producciones (kg), TD)                7237 non-null   float64
 36  (Producciones (kg), Total)             7237 non-null   float64
 37  (Misc, EO/PO)                          7237 non-null   object
 38  (Misc, Destino Leche)                  7237 non-null   object
dtypes: datetime64[ns](1), float64(28), int64(1), object(9)
memory usage: 2.2+ MB

In [25]:
columnasNumericas = df.select_dtypes(include=['float64', 'int64']).columns

promediosPorVaca = df.groupby(('ID', 'ID Vaca'))[columnasNumericas].mean()

promediosPorVaca

                   ID            Main           Estado            \
              ID Vaca Producción (kg) Número de ordeño      Ubre
(ID, ID Vaca)
1204           1204.0       14.152335         1.443580  0.214008
1221           1221.0       14.217778         1.858025  0.024691
1233           1233.0        9.786182         1.537162  0.097973
1497           1497.0        2.600000         0.500000  0.000000
1554           1554.0       18.642554         1.758993  0.201439
1572           1572.0       14.629839         1.543011  0.032258
1613           1613.0       14.890618         2.052257  0.000000
1624           1624.0       16.645670         1.777778  0.056980
1634           1634.0       13.346894         1.727273  0.075758
2072           2072.0       13.905347         1.548611  0.034722
2076           2076.0       13.045660         1.747801  0.023460
2078           2078.0       10.587500         1.774194  0.341398
2082           2082.0       15.264394         1.449827  0.138408
6003           6003.0       14.583367         2.183333  0.156667
6036           6036.0       13.564659         1.902439  0.002439
6178           6178.0       16.504217         1.437751  0.650602
6191           6191.0       17.768854         2.102767  0.513834
6194           6194.0       13.553400         1.726667  0.213333
6211           6211.0       10.933829         1.575949  0.015823
6232           6232.0       11.553333         1.536232  0.028986
6238           6238.0       16.514571         1.600000  0.295238
8709           8709.0       18.474677         1.951613  0.008065
8712           8712.0       10.544371         1.774286  0.011429
8729           8729.0       12.358571         1.542125  0.146520
8732           8732.0        8.931173         1.744868  0.076246
8755           8755.0        9.065033         1.682119  0.377483
8758           8758.0       13.085840         1.504000  0.056000
8771           8771.0       10.186250         1.125000  0.750000
8777           8777.0        9.219333         1.413333  0.080000
8779           8779.0       12.652816         1.528736  0.097701
8782           8782.0        7.376503         1.453988  0.269939
8792           8792.0        7.716739         1.260870  0.108696
8794           8794.0       11.308980         1.326531  0.142857

              Media de los flujos (kg/min)                                \
                                        DI        DD        TI        TD
(ID, ID Vaca)
1204                              1.307626  1.608794  1.475720  1.624436
1221                              1.301852  0.843704  1.100000  1.118519
1233                              1.204865  1.096824  0.590270  1.293041
1497                              0.390000  0.300000  0.330000  0.300000
1554                              1.671799  1.444748  1.430072  1.558705
1572                              1.369677  1.175806  1.056774  1.257419
1613                              0.693777  0.779287  0.779715  0.867363
1624                              1.049402  1.095556  1.228205  1.169231
1634                              0.918636  1.235000  0.774091  0.804545
2072                              0.843333  1.512083  1.125000  1.147083
2076                              1.134018  1.199472  1.523402  1.486276
2078                              0.662742  0.653065  0.874355  0.922419
2082                              1.008997  1.082491  1.109689  1.029550
6003                              1.798800  1.820600  1.221400  1.606600
6036                              0.783512  0.886976  0.770049  0.639220
6178                              1.288434  1.615181  1.166506  1.033494
6191                              0.667115  0.722372  0.821028  1.071700
6194                              1.201600  0.990800  1.056800  1.076800
6211                              0.728734  0.748101  0.000000  0.892595
6232                              1.064348  0.649565  1.529565  0.000000
6238                              1.594286  1.527429  1.862857  1.541143
8709                              0.911855  1.005968  0.848468  0.802258
8712                              1.212343  1.335429  1.317257  1.166057
8729                              0.796484  1.137363  0.896264  0.857363
8732                              0.404516  0.649619  0.859003  0.610205
8755                              0.488742  0.770662  0.399735  0.288874
8758                              1.629120  1.336800  1.397280  1.443360
8771                              1.102500  0.877500  1.207500  1.050000
8777                              0.797600  0.796000  0.662400  0.561600
8779                              1.035862  1.123448  1.012759  1.086552
8782                              0.387239  0.471534  0.374724  0.332393
8792                              1.295217  1.270435  1.207826  0.860870
8794                              1.121633  1.089796  0.983265  0.929388

                        Sangre (ppm)  ... Flujos máximos (kg/min)            \
                  Total           DI  ...                      DI        DD
(ID, ID Vaca)                         ...
1204           6.016576     4.754864  ...                1.850428  2.154163
1221           4.364074   107.012346  ...                1.867037  1.493704
1233           4.185000     0.000000  ...                1.678581  1.512162
1497           1.320000  3998.500000  ...                0.570000  0.660000
1554           6.105324     2.769784  ...                2.178129  1.889353
1572           4.859677    85.715054  ...                1.844839  1.617419
1613           3.120143     0.000000  ...                1.122470  1.246603
1624           4.542393     1.085470  ...                1.497607  1.598974
1634           3.732273    16.136364  ...                1.383182  1.671818
2072           4.627500    93.944444  ...                1.333750  2.026250
2076           5.343167     0.926686  ...                1.579355  1.691261
2078           3.112581     7.405914  ...                1.049839  1.035645
2082           4.230727     0.000000  ...                1.462630  1.583875
6003           6.447400     0.000000  ...                2.595800  2.475400
6036           3.079756     0.000000  ...                1.266878  1.304780
6178           5.103614     3.088353  ...                1.828916  2.240241
6191           3.282213     0.000000  ...                1.087826  1.143320
6194           4.326000     0.000000  ...                1.638000  1.434000
6211           2.369430     1.158228  ...                1.181962  1.166962
6232           3.243478   127.449275  ...                1.511304  1.014783
6238           6.525714   162.419048  ...                2.170286  2.055429
8709           3.568548    18.346774  ...                1.378548  1.477500
8712           5.031086     0.000000  ...                1.622229  1.785429
8729           3.687473     2.622711  ...                1.171868  1.528352
8732           2.523343     0.000000  ...                0.647273  1.017713
8755           1.948013     0.000000  ...                0.842384  1.203576
8758           5.806560    22.504000  ...                2.159520  1.773120
8771           4.237500  4295.625000  ...                1.522500  1.297500
8777           2.817600   144.426667  ...                1.224800  1.156800
8779           4.258621    22.442529  ...                1.451379  1.535172
8782           1.565890    39.447853  ...                0.699387  0.823436
8792           4.634348    68.913043  ...                1.806522  1.741304
8794           4.124082   129.959184  ...                1.578367  1.515918

                                            Producciones (kg)            \
                     TI        TD     Total                DI        DD
(ID, ID Vaca)
1204           1.950350  2.091595  8.046537          3.855603  3.401984
1221           1.511358  1.561852  6.433951          3.339321  3.240494
1233           0.875878  1.761486  5.828108          3.136959  2.653682
1497           0.540000  0.450000  2.220000          0.680000  0.440000
1554           1.882662  2.256043  8.206187          5.215072  4.010576
1572           1.497419  1.698387  6.658065          3.123871  3.134140
1613           1.271544  1.292637  4.933254          2.987601  2.930546
1624           1.624900  1.699145  6.420627          4.106097  3.025100
1634           1.129545  1.200000  5.384545          3.773106  3.918182
2072           1.597083  1.596250  6.553333          3.402778  3.067569
2076           2.045396  2.067097  7.383109          2.752199  3.221730
2078           1.238495  1.386613  4.710591          2.026694  2.642527
2082           1.484567  1.526990  6.058062          4.058201  1.624567
6003           1.645400  2.233600  8.950200          3.683833  4.269733
6036           1.174244  1.084098  4.830000          2.315000  2.751171
6178           1.610120  1.530843  7.210120          3.675181  4.873253
6191           1.222925  1.509249  4.963320          3.497945  3.935889
6194           1.542000  1.490800  6.104800          3.599733  2.393267
6211           0.000000  1.338418  3.687342          3.265443  2.696519
6232           1.989565  0.000000  4.515652          3.426957  2.617681
6238           2.543429  2.080000  8.849143          3.365143  2.719905
8709           1.315161  1.264597  5.435806          5.113145  4.490806
8712           1.741829  1.588286  6.737771          2.478514  2.724114
8729           1.309451  1.245934  5.255604          1.554982  3.735568
8732           1.227390  0.977947  3.870323          1.186422  2.506276
8755           0.695563  0.547550  3.289073          2.122550  4.086159
8758           1.851840  1.884320  7.668800          3.516400  3.358640
8771           1.635000  1.485000  5.940000          2.440000  2.710000
8777           1.104000  0.902400  4.388000          2.093200  2.193733
8779           1.432414  1.535862  5.954828          2.887241  2.752414
8782           0.708221  0.638650  2.869693          1.765460  2.260736
8792           1.766087  1.373478  6.687391          2.119348  2.188913
8794           1.388571  1.335918  5.818776          2.634694  2.451633


                     TI        TD      Total
(ID, ID Vaca)
1204           2.002529  4.892218  14.152335
1221           3.847963  3.790000  14.217778
1233           0.767399  3.228142   9.786182
1497           0.735000  0.745000   2.600000
1554           3.556223  5.860683  18.642554
1572           4.287473  4.084355  14.629839
1613           4.659881  4.312589  14.890618
1624           5.150427  4.364046  16.645670
1634           2.527273  3.128333  13.346894
2072           3.389653  4.045347  13.905347
2076           3.281144  3.790587  13.045660
2078           2.900753  3.017527  10.587500
2082           4.923979  4.657647  15.264394
6003           2.732667  3.897133  14.583367
6036           4.569293  3.929195  13.564659
6178           4.363012  3.592771  16.504217
6191           3.874387  6.460632  17.768854
6194           3.855000  3.705400  13.553400
6211           0.000000  4.971867  10.933829
6232           5.508696  0.000000  11.553333
6238           4.985714  5.443810  16.514571
8709           4.504637  4.366089  18.474677
8712           2.763000  2.578743  10.544371
8729           3.677143  3.390879  12.358571
8732           3.274956  1.973636   8.941290
8755           1.712252  1.144073   9.065033
8758           3.179040  3.031760  13.085840
8771           2.963750  2.072500  10.186250
8777           2.631333  2.301067   9.219333
8779           3.359943  3.653218  12.652816
8782           1.995767  1.354540   7.376503
8792           1.856304  1.552174   7.716739
8794           2.822857  3.399796  11.308980

[33 rows x 29 columns]

In [26]:
print(df.columns.names)
print(df.columns.levels)

[None, None]
[['Conductividad (mS / cm)', 'Estado', 'Flujos máximos (kg/min)', 'ID', 'Main', 'Media de los flujos (kg/min)', 'Misc', 'Producciones (kg)', 'Sangre (ppm)', 'Fecha y hora de inicio'], ['Acción', 'DD', 'DI', 'Destino Leche', 'Duración (mm:ss)', 'EO/PO', 'Hora de inicio', 'ID Vaca', 'Incompleto', 'Número de ordeño', 'Patada', 'Pezones no encontrados', 'Pezón', 'Producción (kg)', 'Razón de la desviación', 'TD', 'TI', 'Ubre', 'fecha', 'hora', 'Total']]

In [28]:
df.groupby(('ID', 'ID Vaca')).count()[('Main', 'Acción')]

(ID, ID Vaca)
1204    257
1221    162
1233    296
1497      2
1554    278
1572    186
1613    421
1624    351
1634    132
2072    144
2076    341
2078    372
2082    289
6003    300
6036    410
6178    249
6191    253
6194    150
6211    316
6232     69
6238    105
8709    248
8712    350
8729    273
8732    341
8755    302
8758    125
8771      8
8777     75
8779    174
8782    163
8792     46
8794     49
Name: (Main, Acción), dtype: int64

In [ ]:
# Obtener fecha min y max por vaca
datosPorVaca = df.groupby(('ID', 'ID Vaca'))[[('Fecha y hora de inicio', 'fecha')]].agg(['min', 'max']) #[('Fecha y hora de inicio', 'fecha')]

# Para renombrar las columnas para mejor claridad
datosPorVaca.columns = ['PrimeraFecha', 'UltimaFecha']

# Para ver también la cantidad de días entre la primera y última fecha
datosPorVaca['DiasTotales'] = (datosPorVaca['UltimaFecha'] - datosPorVaca['PrimeraFecha']).dt.days

datosPorVaca['DuracionPromedio'] = df.groupby(('ID', 'ID Vaca'))[[('Main', 'Duracion (mm:ss)')]].mean()

# datosPorVaca['DecaemientoDeProduccion'] = 

datosPorVaca.sort_values(by='DiasTotales', ascending=False)

              PrimeraFecha UltimaFecha  DiasTotales          DuracionPromedio
(ID, ID Vaca)
1221            2025-03-01  2025-07-18          139 0 days 00:07:16.043209876
8712            2025-03-01  2025-07-18          139 0 days 00:05:11.274285714
1233            2025-03-01  2025-07-18          139 0 days 00:08:09.712837837
1554            2025-03-01  2025-07-18          139 0 days 00:07:58.352517985
1572            2025-03-01  2025-07-18          139 0 days 00:06:39.784946236
1624            2025-03-01  2025-07-18          139 0 days 00:07:09.131054131
1613            2025-03-01  2025-07-18          139 0 days 00:09:08.862232779
1634            2025-03-01  2025-07-18          139 0 days 00:09:16.068181818
2072            2025-03-01  2025-07-18          139 0 days 00:07:12.277777777
6036            2025-03-01  2025-07-18          139 0 days 00:08:57.997560975
2076            2025-03-01  2025-07-18          139 0 days 00:06:51.017595307
2078            2025-03-01  2025-07-18          139 0 days 00:08:26.637096774
2082            2025-03-01  2025-07-18          139 0 days 00:07:17.103806228
6238            2025-03-01  2025-07-18          139 0 days 00:06:39.285714285
6232            2025-03-01  2025-07-18          139 0 days 00:06:24.652173913
6211            2025-03-01  2025-07-18          139 0 days 00:07:55.167721518
6194            2025-03-01  2025-07-18          139 0 days 00:06:36.673333333
8732            2025-03-01  2025-07-18          139 0 days 00:11:56.366568914
8729            2025-03-01  2025-07-18          139 0 days 00:07:22.377289377
1204            2025-03-02  2025-07-18          138 0 days 00:07:24.984435797
6178            2025-03-01  2025-07-17          138 0 days 00:07:53.401606425
8755            2025-03-01  2025-07-17          138 0 days 00:13:24.238410596
8782            2025-04-16  2025-07-18           93 0 days 00:10:36.006134969
6003            2025-04-16  2025-07-18           93 0 days 00:08:58.643333333
8779            2025-04-19  2025-07-18           90 0 days 00:06:08.660919540
8709            2025-04-21  2025-07-18           88 0 days 00:08:58.721774193
6191            2025-04-29  2025-07-18           80 0 days 00:10:13.774703557
8758            2025-05-18  2025-07-18           61    0 days 00:05:20.400000
8777            2025-06-06  2025-07-18           42 0 days 00:09:06.173333333
8794            2025-06-12  2025-07-18           36 0 days 00:06:34.979591836
8792            2025-06-21  2025-07-18           27 0 days 00:06:52.847826086
8771            2025-07-14  2025-07-18            4    0 days 00:06:11.500000
1497            2025-07-18  2025-07-18            0           0 days 00:04:32

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Leer el archivo CSV
# Crear una figura con un tamaño adecuado

df2 = df = pd.DataFrame()

df2['fecha'] = df[('Fecha y hora de inicio','fecha')]

# df.columns = ['fecha']


# plt.figure(figsize=(15, 8))

# # Crear el gráfico de líneas para cada vaca
sns.lineplot(data=df2, x='fecha', y='litros_leche', hue='id_vaca')

# # Personalizar el gráfico
# plt.title('Producción de leche por vaca a lo largo del tiempo')
# plt.xlabel('Fecha')
# plt.ylabel('Litros de leche')
# plt.xticks(rotation=45)
# plt.legend(title='ID Vaca')

# # Ajustar los márgenes
# plt.tight_layout()

# # Mostrar el gráfico
# plt.show()

KeyError: ('Fecha y hora de inicio', 'fecha')